In [9]:
import pandas as pd

df=pd.read_csv("auto.csv")
#1)
print(df.groupby('company')['company'].count())

company
BMW       3
Ford      2
Honda     2
Nissan    1
Toyota    3
Name: company, dtype: int64

In [10]:
#2)
print(df.groupby('company')['mileage'].mean())

company
BMW       26.333333
Ford      33.000000
Honda     31.000000
Nissan    34.000000
Toyota    30.000000
Name: mileage, dtype: float64

In [17]:
#3)
i=df.groupby('company')['price'].idxmax()
print(df.loc[i])

    index company   body-style  wheel-base  length engine-type  \
5       5     BMW  Convertible       104.3   192.7         ohc
1       1    Ford        Sedan       100.4   176.2         ohc
6       6   Honda          SUV       100.0   185.0         ohc
8       8  Nissan    Hatchback        95.1   159.1         ohc
10     10  Toyota          SUV       105.0   180.0         ohc

   num-of-cylinders  horsepower  mileage  price
5               six         160       24  40000
1              four          88       30  12000
6              four          90       29  14000
8              four          70       34   8200
10              six         120       27  18000